{{<layout}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$content}}
<main id="content" role="main">

  <a href="question09" class="no-back-link">Back</a>    <span class="example-back-link">Submit</span>

  <h1 class="heading-medium">
      Confirmation
    </h1>
<div class="form-group">
    <h2 class="heading-small">Details of enquiry</h2>
</div>
<div class="grid-row">
    <div class="column-third">
      <p>
      What is your enquiry about:
      </p>
    </div>
    <div class="column-third">
      <p>An application which is in progress</p>
    </div>
    </div>

    <div class="grid-row">
    <div class="column-third">
      <p>
      What is your enquiry about:
      </p>
    </div>
    <div class="column-third">
      <p>Downloading or printing a declaration form</p>
    </div>
    </div>

    <div class="grid-row">
    <div class="column-third">
      <p>
      Are you enquiring about the progress of your own application:
      </p>
    </div>
    <div class="column-third">
      <p>No</p>
    </div>
    </div>
<div class="form-group">
    <h2 class="heading-small">Applicant's details</h2>
</div>
    <div class="grid-row">
    <div class="column-third">
      <p>
      What is the applicant's full name:
      </p>
    </div>
    <div class="column-third">
      <p>John Smith</p>
    </div>
    </div>

    <div class="grid-row">
    <div class="column-third">
      <p>
      What is the applicant's date of birth:
      </p>
    </div>
    <div class="column-third">
      <p>08/01/1921</p>
    </div>
    </div>

    <div class="grid-row">
    <div class="column-third">
      <p>
      What is the applicant's email address:
      </p>
    </div>
    <div class="column-third">
      <p>jsmith@example.com</p>
    </div>
    </div>

    <div class="grid-row">
    <div class="column-third">
      <p>
      What is the passport application reference:
      </p>
    </div>
    <div class="column-third">
      <p>34324987097</p>
    </div>
    </div>
<div class="form-group">
    <h2 class="heading-small">Your details</h2>
</div>
    <div class="grid-row">
    <div class="column-third">
      <p>
      What is your full name:
      </p>
    </div>
    <div class="column-third">
      <p>Joan Smith</p>
    </div>
    </div>

    <div class="grid-row">
    <div class="column-third">
      <p>
      What is your date of birth:
      </p>
    </div>
    <div class="column-third">
      <p>16/01/1968</p>
    </div>
    </div>

    <div class="grid-row">
    <div class="column-third">
      <p>
      Address:
      </p>
    </div>
    <div class="column-third">
      <p>1 Church Lane</p>
      <p>Westbere</p>
      <p>Canterbury</p>
      <p>Kent</p>
      <p>CT2 0HA</p>
      <p>United Kingdom</p>
    </div>
    </div>


<div class="grid-row">
    <div class="column-third">
      <p>
      What is your email address:
      </p>
    </div>
    <div class="column-third">
      <p>smith@email.com</p>
    </div>
    </div>

    <div class="grid-row">
    <div class="column-third">
      <p>
      What is your contact telephone number:
      </p>
    </div>
    <div class="column-third">
      <p>01273 345678</p>
    </div>
    </div>

    </div>

    <p id="submit" class="submit-query">

<a href="" rel="external" class="button button-get-started" role="button">Submit enquiry</a></p>

</main>



{{/content}}

{{/layout}}
