{{<layout}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$content}}
<main id="content" role="main">

  <form action="question07" method="get" class="form" name="certificate">

 <a href="question05" class="no-back-link">Back</a>    <span class="example-back-link">Question 6 of 12</span>

<div class="form-group">
      <label class="form-label-bold" for="full-name">What is the applicant's date of birth?</label>
    </div>




    <div class="form-group">
      <label class="form-label" for="full-name">Applicant's date of birth</label>
   
      <fieldset>
        <div class="form-date">

          <div class="form-group form-group-day">
            <label for="dob-day">Day</label>
            <input class="form-control" id="dob-day" type="number" pattern="[0-9]*" min="0" max="31" name="order-date-day" required>
          </div>

          <div class="form-group form-group-month">
            <label for="dob-month">Month</label>
            <input class="form-control" id="dob-month" type="number" pattern="[0-9]*" min="0" max="12" name="order-date-month" required>
          </div>

          <div class="form-group form-group-year">
            <label for="dob-year">Year</label>
            <input class="form-control" id="dob-year" type="number" pattern="[0-9]*" min="0" max="2015" name="order-date-year" required>
          </div>
        </div>

      </fieldset>
      <p class="form-hint">For example, 31 10 1974</p>
    </div>


</div>

    </div>





    <!-- Primary buttons, secondary links -->
    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/layout}}
